<template>

  <div id="sidebar__container" class="shadow d-flex flex-column flex-grow-0 flex-shrink-0 justify-content-between">

    <!-- top_area -->
    <div class="d-flex flex-column">

      <div class="d-flex mb-3 justify-content-center align-items-center border-bottom w-100">
        <div class="text-center mb-3">
          <span>
            <router-link :to="{name: 'adminHome'}">
              <img src="@src/assets/images/app-icon.svg" class="img-fluid app-logo" alt="" style="">
            </router-link>
          </span>
        </div>
      </div>

      <div class="sidebar__nav">

        <div class="nav__menu_group">
          <div class="menu_header">
            Farmers
          </div>
          <nav class="nav flex-column">
            <a class="nav-link" href="#">View farmers</a>
            <a class="nav-link" href="#">Add new farmer</a>
          </nav>
        </div>

        <div class="nav__menu_group">
          <div class="menu_header">
            Advisors
          </div>
          <nav class="nav flex-column">
            <a class="nav-link" href="#">View farmers</a>
            <a class="nav-link" href="#">Add new farmer</a>
          </nav>
        </div>


      </div><!-- end: __nav -->

    </div><!-- end: top_area -->

    <!-- bottom_area -->
    <div class="d-flex flex-column">

      <div class="sidebar__nav">

        <div class="nav__menu_group">
          <div class="menu_header">
            Admin users
          </div>
          <nav class="nav flex-column">
            <router-link :to="{name: 'manageUsers'}" class="nav-link">View all users</router-link>
            <router-link :to="{name: 'createUser'}" class="nav-link">Add new user</router-link>
          </nav>
        </div>

      </div><!-- end: __nav -->

      <div class="logged_in_user d-grid gap-2">
        <button class="btn btn-sm btn-danger" @click="logout()">Logout {{ loggedInUser.full_name }}</button>
      </div>

    </div><!-- end: bottom_area -->

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import {useRouter} from 'vue-router';
import {useStore} from 'vuex';

export default {
  name: 'FarmerSidebar',

  async setup() {

    const store = useStore();
    const router = useRouter();

    const loggedInUser = store.getters[ 'auth/getLoggedInUser' ];


    async function logout() {

      try {
        await store.dispatch( 'auth/logout' );
        await router.push( '/login' );

      } catch ( e ) {
        errorDialog( { message: 'Login attempt failed.' } );
      }

    }


    return {
      loggedInUser,
      logout,
    };

  },


};
</script>

<style scoped lang="scss">

#sidebar__container {
  width      : 240px;
  flex-basis : 240px;
  padding    : 10px;
}


.app-logo {
  width : 64px;
}

.sidebar__nav {

  h1 {
    font-size : 1rem;
  }
}

.nav__menu_group {
  margin        : 10px 0;
  border-bottom : solid 1px #cccccc;

  .menu_header {
    font-weight    : bold;
    text-transform : uppercase;

  }

  &:last-child {
    border-bottom : none;
    margin-bottom : 0 !important;
  }

}


</style>
