/* custom universal scss */

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

$font-family-sans-serif : "Sen", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace  : Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-base         : 0.9rem !default;

@import "~bootstrap/scss/bootstrap";


html, body {
  height : 100%;
  width  : 100%;
}

.page-container {
  height  : inherit;
  display : flex;
}

#app {
  height : 100%;
}

/* ------------------------------------*/
/* BOOTSTRAP 5 Mods */
/* ------------------------------------*/

.card-header {
  font-size   : 1.2rem;
  font-weight : bold;
}
