<template>

  <div>

    <div class="container mx-auto py-4">
      <div class="row">

        <div class="col">

          <div class="row justify-content-center mb-3">

            <div class="text-center">
              <img src="../../assets/images/app-icon.svg" style="width: 200px;" alt="Farmer Buddy">
            </div>
          </div>

          <h2 class="text-center">Welcome to Farmer Buddy</h2>
          <hr>

        </div>

      </div>
    </div>

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from '../../components/TopNavigationBar';


export default {
  name: 'Home',
  components: { TopNavigationBar },


  mounted() {

    this.$router.push( '/login' );

  },


};
</script>

<style scoped>

</style>
