<template>

  <div class="page-container">

    <suspense>
      <AdminSidebar/>
    </suspense>

    <main class="main-area">
      <router-view/>
    </main>

  </div>

</template>

<script>
import AdminSidebar from './components/AdminSidebar';

export default {
  name: 'AdminApp',
  components: { AdminSidebar },
};
</script>

<style scoped lang="scss">

.page-container {
  height : 100%;
  width  : 100%;
}

.main-area {
  //width: 100%;
  flex-grow : 1;
}

</style>
