<template>

  <div class="page-container">

    <suspense>
      <FarmerSidebar/>
    </suspense>

    <main class="main-area">
      <router-view/>
    </main>

  </div>

</template>

<script>
import FarmerSidebar from '@src/views/farmers/components/FarmerSidebar';

export default {
  name: 'FarmerApp',
  components: { FarmerSidebar },
};
</script>

<style scoped>

.page-container {
  height: 100%;
  width: 100%;
}

.main-area {
  flex-grow: 1;
}

</style>
