<template>


  <div class="area:farmer_home">

    <div class="container my-3">

      <div class="row">
        <div class="col">

          <h1>hello</h1>

          <Section header="Welcome, Farmer...">

            <h1>Hello world!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam assumenda autem consequatur delectus, distinctio error non omnis tempore
              veritatis? Corporis cum quam quo sequi voluptatum! Distinctio obcaecati quae quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium autem, consectetur consequatur incidunt, inventore maiores maxime minus natus necessitatibus quaerat qui saepe sed sit ullam unde
              voluptatem voluptatum. Aspernatur, facere.</p>


          </Section>


        </div>
      </div>

    </div>

  </div>

</template>

<script>
import Section from '@src/components/Section';

export default {
  name: 'FarmerHomePage',
  components: { Section },
};
</script>

<style scoped>

</style>
