<template>

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5">

        <div class="alert alert-success shadow">

          <div class="text-center">
            <router-link :to="{name: 'home'}" class="text-decoration-none">
              <img src="../assets/images/app-icon.svg" alt="Farmer Buddy" class="img-fluid" style="width: 200px">
              <h3>Farmer Buddy</h3>
            </router-link>
          </div>

          <form @submit.prevent="onLogin()">
            <div class="form-floating mb-3">
              <input id="txt-username" type="text" class="form-control" v-model="username" placeholder="Username">
              <label for="txt-username" class="form-label">Username</label>
            </div>

            <div class="form-floating mb-3">
              <input id="txt-password" type="password" class="form-control" v-model="password" placeholder="password">
              <label for="txt-password" class="form-label">Password</label>
            </div>

            <div class="text-center">
              <button class="btn btn-success btn-lg" type="submit">Login</button>
            </div>
          </form>

          <div v-if="error" class="mt-3">
            <div class="alert alert-danger">
              {{ error }}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</template>

<script>

export default {
  name: 'Login',

  data() {
    return {

      username: '',
      password: '',

      error: '',
    };
  },


  methods: {

    async onLogin() {

      const userParams = {
        username: this.username,
        password: this.password,
      };

      try {

        await this.$store.dispatch( 'auth/login', userParams );

        /** @type {User} */
        const user = this.$store.getters[ 'auth/getLoggedInUser' ];

        if ( user.role === 'ADMIN' ) {
          await this.$router.push( '/admin' );
        } else if ( user.role === 'FARMER' ) {
          await this.$router.push( '/farmer' );
        } else if ( user.role === 'ADVISOR' ) {
          await this.$router.push( '/advisor' );
        }

      } catch ( e ) {
        this.error = 'Login failed. Please check your username and password';
      }


    },

  },

};
</script>

<style scoped>

</style>
