<template>

  <div class="card shadow">
    <div class="card-header">
      <div class="d-flex gap-2 align-items-center">

        <button class="btn btn-sm btn-dark" @click="isCollapsed = !isCollapsed">
          <i class="bi" :class="buttonIconClass"></i>
        </button>
        <div class="">{{ header }}</div>

      </div>
    </div>
    <transition name="fade">
      <div class="card-body" v-show="!isCollapsed">
        <slot></slot>
      </div>
    </transition>
  </div>

</template>

<script>
import {computed, ref} from 'vue';

export default {
  name: 'Section',
  props: {
    header: String,
  },

  setup() {

    const isCollapsed = ref( false );

    const buttonIconClass = computed( () => {
      if ( isCollapsed.value ) return 'bi-arrow-down';
      else return 'bi-arrow-up';
    } );

    return {
      isCollapsed,
      buttonIconClass,
    };

  },

};
</script>

<style scoped lang="scss">

.fade-enter-active, .fade-leave-active {
  transition : all .3s;
}

.fade-enter-from, .fade-leave-to {
  opacity    : 0;
  transition : all .3s;
}

</style>
